* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    line-height: 1.5;
}

/* Header styles */
header {
    background-color: #151515;
    padding: 20px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

/* Search bar styles */
.search-bar {
    padding: 20px;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    font-size: 24px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 400px;
}

button[type="submit"] {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

/* Price table styles */
.price-table {
    padding: 20px;
    width: 80vw;
    display: flex;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #4CAF50;
    color: #fff;
}

tr {
    height: 100px;
}

tbody {
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #636363;
}

tbody tr:hover {
    background-color: #ddd;
}

a {
    text-decoration: none;
    color: inherit;
}

#container {
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}