<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bitcoin Price Tracker</title>
    {% block head %}{% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Bitcoin Price Tracker</h1>
    </header>
    <main>
      <div class="search-bar">
        <form action="/search" method="POST">
          <input
            type="text"
            name="crypto"
            placeholder="Search for a cryptocurrency..."
          />
          <button type="submit">Search</button>
        </form>
      </div>
      {% block body %}{% endblock %}
    </main>
  </body>
</html>
