{% extends 'base.html' %} {% block head%}
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js"></script>
{%endblock%} {% block body %}

<h1>{{coin_id}}</h1>
<div id="container">
  <script>
    function getData(){
        date_list = []
        {%for date,price in data%}
        var dt = new Date({{date}} * 1000)
        dt = dt.getDate() + ':' + dt.getHours()
        date_list.push([dt,{{price}}])
        {%endfor%}
        return date_list
    }
    var dataSet = anychart.data.set(getData());
    var seriesData = dataSet.mapAs({ x: 0, value: 1 });
    var chart = anychart.line();
    chart.title('Crypto Market Price Change');
    chart.yAxis().title('Price in USD');
    var lineChart = chart.line(seriesData);
    chart.container('container');
    chart.draw();
  </script>
</div>
<div class="price-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">{{coin_id}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Current Price (USD)</td>
        <td>$ {{data[-1][1]}}</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
