{% extends 'base.html' %} 

{% block body %} 

<div class="price-table">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Cryptocurrency</th>
        <th>Price (USD)</th>
      </tr>
    </thead>
    <tbody>
      {% for crypto in crypto_data %}
      <tr>
        <td>{{ loop.index }}</td>
        <td><a href={{ url_for('detail',id=crypto[2]) }}>{{ crypto[0] }}</a></td>
        <td><a href={{ url_for('detail',id=crypto[2]) }}>$ {{ crypto[1] }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{%endblock%}
